.registrasi {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(245,245,245);
  background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(30,125,190,1) 66%, rgba(86,85,182,1) 100%);
  overflow: auto;
}
.card-registrasi {
  padding: 20px;
  background-color: rgba(245,245,245,0.3);
  position: relative;
  border-radius: 10px;
  width: 30vw;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-registrasi {
  color: rgb(2, 2, 15);
  margin: 0;
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.group-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.group-input, .group-input1 {
  display: flex;
  flex-direction: column;
  width: 48%;
  position: relative;
}

.group-input1 {
  width: 100%;
}

input.input, select.input {
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 1s;
  background-color: #fff;
}

input.input.danger {
  border: 1px solid rgb(145, 7, 7);
}

input.input.danger {
  border: 1px solid rgb(145, 7, 7);
}

.label-danger, .label-danger1, .label-danger2, .label-danger3 {
  position: absolute;
  padding: 5px;
  background-color: orange;
  color: rgb(145, 7, 7) ;
  border-radius: 5px;
  right: 5px;
  font-size: 10px;
  top: 50px;
}

.label-danger1 {
  top: 35px;
  right: 45px;
}

.label-danger2 {
  top: 35px;
  right: 15px;
}

.label-danger3 {
  top: 35px;
  right: 40px;
}

.parent-btn {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.notif.danger {
  text-align: center;
  color: rgb(145, 7, 7);
}

.notif.success {
  text-align: center;
  color: rgb(86,85,182);
}

.btn-blue {
  background-color: rgba(30,125,190,1);
  border: none;
  font-size: 1.2rem;
  color: aliceblue;
  padding: 10px 15px;
  font-weight: 800;
  border-radius: 5px;
}

.btn-blue.disabled {
  background-color: #ccc;
}

.btn-blue:hover {
  background-color: rgba(50,145,210,1);
}

.link {
  margin-top: 10px;
  width: 100%;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .card-registrasi {
    width: 90vw;
  }
  .card-registrasi.login {
    width: 60vw;
  }
  .label-danger2 {
    right: 5px;
    top: 50px;
  }
}